
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}
.main-wrapper{
  display: grid;
  grid-template-columns: 2fr 1fr;  
  max-width: 85%;
  margin: auto;
  margin-top: 50px;
}


.shop-item-image{
    height: 100px;
}

.shop-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    
}

.shop-item {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    max-width: 80%;
    padding: 18px;
    border-radius: 15px;
}
.shop-item-details{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    gap: 10px;
}

.shop-item-title {
    font-size: 25px;
}
.shop-item-price {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
}

.shop-item-button, .btn-purchase{
    background-color: #02B0E2;
    height: 35px;
    color: white;
    border: none;
    margin-top: 15px;
    width: 220px;
    cursor: pointer;
}

.btn-purchase{
    display: none;
}
.cart-section{
    margin-top: 55px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 800px;
    border-radius: 15px;
    padding: 25px;
}

.btn-danger{
    background-color: red;
    color: white;
    padding: 6px;
    border-color: red;
    outline: none;
    border: none;
    border-radius: 5px;
}

.cart-quantity-input {
    border: 1px solid rgb(172, 172, 172);
    outline: none;
    padding: 5px;
    border-radius: 5px;

}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.cart-item-title{
    font-size: 18;
    font-weight: bold;
 
}

.cart-column{
    margin-top: 22px;
}

.line{
    border: 0.5px dashed rgb(226, 226, 226);
    margin-top: 20px;
    margin-bottom: 20px;
}



@media only screen and (max-width: 600px) {
    .main-wrapper{
        display: grid;
        grid-template-columns: 1fr;  
        max-width: 85%;
        margin: auto;
        margin-top: 50px;
      }

      .shop-item-button, .btn-purchase{
        width: 100%;
    }

    .shop-item{
        max-width: 98% !important;
    }
  }